.gradle/
**/build/
.kotlin/

local.properties

.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

*.apk
*.aab
output-metadata.json

*.jks
*.keystore
keystore.properties
google-services.json

.DS_Store
*.log
*.hprof
